<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <style>
        

        .rodape {
            background-color: rgb(218, 155, 166);
            color: white;
            padding: 20px;
            width: 100%;
            position: relative;
        }
        .conteudopagina {
            min-height: calc(100vh - 70px); /* Ajuste conforme necessário para a altura do seu rodapé */
            padding-bottom: 20px; /* Espaçamento desejado entre o conteúdo e o rodapé */
        }

        .nav-item a {
            
            border-radius: 20px;
            background-color: rgb(224, 193, 203);
            text-transform: uppercase;
            margin-right: 10px;
        }

        .navbar-nav .nav-link {
        color: salmon !important; /* Cor do texto no estado normal */
        font-weight: bold;
    }

        .nav-link.active {
            color: rgb(252, 94, 147)!important; /* Cor do texto quando ativo */
            font-weight: bold;
            
        }
       
    

    </style>
    

    <title>Gabi Confeitaria</title>
  </head>

  <body>

    {% if user.is_authenticated %}
  <!-- Navbar para usuários LOGADOS -->


  <nav class="navbar navbar-expand-lg navbar-nav" style="background-color: rgb(247, 237, 239);">
    <div class="container-fluid">
      <a class="navbar-brand" href="" > 
        <img src="https://i.imgur.com/aTJSm7w.png" alt="..." height="40">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link {% if request.path == '/' %}active{% endif %}" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.path == '/produtos/' %}active{% endif %}" href="{% url 'produtos' %}">Portfólio</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link {% if request.path == '/quemsomos/' %}active{% endif %}" href="{% url 'quemsomos' %}">Quem Somos</a>
          </li>


          <li class="nav-item">
            <a class="nav-link {% if request.path == '/contato/' %}active{% endif %}" href="{% url 'contato' %}">Contato</a>
          </li>
        </ul>

        
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link {% if request.path == '/pedidos/' %}active{% endif %}" href="{% url 'pedidos' %}">
              <i class="fa-solid fa-list"></i> Pedidos
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link {% if request.path == '/perfil/' %}active{% endif %}" href="{% url 'perfil' %}">
              <i class="fa-solid fa-user"></i> Perfil
            </a>
          </li>


            <li class="nav-item">
                <a class="nav-link {% if request.path == '/logout/' %}active{% endif %}" href="{% url 'logout' %}">
                  <i class="fa-solid fa-right-from-bracket"></i> Sair
                </a>
        </ul>
      </div>
    </div>
  </nav>   

{% else %}

 <!-- Navbar para VISITANTES -->
    <nav class="navbar navbar-expand-lg navbar-nav" style="background-color: rgb(247, 237, 239);">
        <div class="container-fluid">
          <a class="navbar-brand" href="" > 
            <img src="https://i.imgur.com/aTJSm7w.png" alt="..." height="40">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">

            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link {% if request.path == '/' %}active{% endif %}" href="{% url 'home' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if request.path == '/produtos/' %}active{% endif %}" href="{% url 'produtos' %}">Portfólio</a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link {% if request.path == '/quemsomos/' %}active{% endif %}" href="{% url 'quemsomos' %}">Quem Somos</a>
              </li>


              <li class="nav-item">
                <a class="nav-link {% if request.path == '/contato/' %}active{% endif %}" href="{% url 'contato' %}">Contato</a>
              </li>

            </ul>


            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link {% if request.path == '/queropedir/' %}active{% endif %}" href="{% url 'queropedir' %}">
                  <i class="fa-solid fa-list"></i> Pedidos
                </a>
              </li>


                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/login/' %}active{% endif %}" href="{% url 'login' %}">
                      <i class="fa-solid fa-right-to-bracket"></i> Fazer Login
                    </a>
            </ul>
          </div>
        </div>
      </nav>   

      {% endif %}

      <div class="conteudopagina">
        
        {% block content %}
        {% endblock %}
    </div>
      

      <div class="rodape">
        <p style="text-align: left;">Atendimento ao Suporte: <a href="mailto:suporte@teste.com">suporte@teste.com</a></p>
        <p>&copy; 2023 DiamantWEB. Todos os direitos reservados.</p>

        <a href="https://www.instagram.com/gabii_confeitaria/" class="btn btn-primary" style="background-color: #bc2a8d; border-color: #bc2a8d;">
          <i class="fab fa-instagram"></i> Siga-nos no Instagram
      </a>
        
        <p>Formas de Pagamento</p>
        <img src="https://cdn.shopify.com/s/files/1/0655/0696/7773/files/BANDERIAS.png?v=1669918376" alt="Formas de Pagamento" width="150">
      </div>


    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
    
    




  </body>
</html>