{% extends 'base.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Link para um arquivo de estilo externo (opcional) -->
    <!-- <link rel="stylesheet" href="caminho_para_seus_estilos.css"> -->
    
    <style>
        body {
            text-align: center; /* Centralizar o conteúdo */
            background-color: #f4f4f4; /* Cor de fundo para melhor contraste */
        }
       

       

    </style>
</head>
<body>

   <h1>Área para Contato</h1> 






  
</body>
</html>

{% endblock %}
