{% extends 'base.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Link para um arquivo de estilo externo (opcional) -->
    <!-- <link rel="stylesheet" href="caminho_para_seus_estilos.css"> -->

    <style>
        body {
            text-align: center;
            /* Centralizar o conteúdo */
            background-color: #f4f4f4;
            /* Cor de fundo para melhor contraste */
        }

        .sobre {
            text-align: left;
            margin-left: 20px;
            margin-right: 20px;
            margin-top: 20px;
            margin-bottom: 20px;
        }
    </style>
</head>

<body>


    <div class="sobre">
        <h4>Nossa História</h4>
        <p>A Gabi Confeitaria é um sonho que se transformou em realidade. Fundada com amor e paixão pela
            confeitaria, nossa jornada começou com a missão de criar bolos que não apenas
            agradassem o paladar, mas também aquecessem o coração.</p>
    </div>

    <div class="sobre">
        <h4>Nossa Missão</h4>
        <p>Nossa missão é simples: fazer o mundo mais doce, um bolo de cada vez.
            Queremos ser a escolha natural quando se trata de celebrar momentos especiais
            ou simplesmente satisfazer seu desejo por algo delicioso.</p>
    </div>

    <div class="sobre">
        <h4>Nossa Dedicação</h4>
        <p>Cada bolo que produzimos é uma obra-prima única, resultado de
            nossa dedicação à qualidade e à criatividade. Usamos os melhores ingredientes e
            técnicas tradicionais, combinadas com um toque de inovação, para surpreender seu paladar.</p>
    </div>

    <div class="sobre">
        <h4>Nossa Família</h4>
        <p>Na Gabi Confeitaria, nossos clientes não são apenas clientes; eles fazem parte da nossa família.
            Agradecemos a cada um de vocês por confiar em nós para tornar seus momentos especiais ainda mais
            memoráveis.
        </p>
    </div>

    <div class="sobre">
        <h4>Seja Parte da Nossa História</h4>
        <p>Queremos que você faça parte da nossa história doce. Explore o nosso site, descubra nossos bolos
            irresistíveis e deixe a Gabi Confeitaria fazer parte dos seus momentos mais doces.
        </p>
    </div>






</body>

</html>

{% endblock %}