{% extends 'base.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Link para um arquivo de estilo externo (opcional) -->
    <!-- <link rel="stylesheet" href="caminho_para_seus_estilos.css"> -->

    <style>
        body {
            text-align: center;
            /* Centralizar o conteúdo */
            background-color: #f4f4f4;
            /* Cor de fundo para melhor contraste */
        }
    </style>
</head>

<body>

    <div style="text-align: center; margin-top: 20px;">
        <h4 style="font-family: cursive; text-transform: uppercase;">Faça o seu Pedido !</h4>
        <p style="text-transform: uppercase;">
            Para realizar seu pedido é muito simples basta escolher
            o segmento para decoração, a massa, o recheio e a cobertura.</p>
        <p style="font-weight: bold; text-transform: uppercase;">
            ** Mas antes você precisa efetuar o cadastro e logar no nosso sistema.</p>
        <p>1º Faça Login</p>
        <p>2º Escolha o segmento / decoração</p>
        <p>3º Escolha a massa e o recheio</p>
        <p>4º Escolha sua cobertura</p>
        <p>5º Defina a Data de Entrega</p>

    </div>








</body>

</html>

{% endblock %}